@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    /*custom properties that contatin specific values to be reused throughout HTML document; accessed with the var() function*/
    --main-color: #f5b562; 
    --black: #13131a;
    --bg: #82828b;
    --footer-bg: #3b3b4783;
    --text: #fff;
    --border: .1rem solid rgba(255, 255, 255, .3); /*rem unit allows you to define a root em unit value on the html element,
    then use values on subsequent elements that are relative to the specified root unit; rem will also scale specific page elements while leaving
    others unaffected*/
}

* {
  font-family: 'Roboto', sans-serif;
}

.searchTerm {
  width: 20rem;
  border: 3px solid;
  padding: 0.5rem;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  padding: 20px 10px; line-height: 28px; 

}

.searchbox{
  margin:auto;
  margin-left: 1%;

}

.searchTerm:focus{
  color:black;
}

